* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: black;
    padding: 32px 0;
    color: #fff;
    display: flex;
    justify-content: center;
}

form {
    padding: 32px 0;
    text-align: center;
}

input, button {
    padding: 12px;
    font-size: large;
}

input {
    width: 500px;
    margin-right: 6px;
}

button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    width: 300;
}

button:hover {
    background-color: #28e266;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

li:hover {
    cursor: pointer;
}

.linhas {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: line-through;
}
